/***** product *****/

#product-holder {

  grid-template-columns: repeat(4, 1fr);
  display: grid;
  margin-top: 60px;

}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.product-card a {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}

.product-card a:hover,
.product-card a:active {
  text-decoration: underline;
}

.product-h3 {
  margin-bottom: 30px;
}

/***** End product *****/

/***** email *****/

#email-holder {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}



.email-container {
  margin: auto;
  width: 500px;
  height: 60px;
  border: 1px solid;
  border-radius: 15px;
}

/***** End email *****/



/* Small devices (phones, less than 600px) */
@media (max-width: 600px) {
  #product-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .product-card img {
    width: 70%;
    height: auto;

  }

  .email-container {
    width: 70%;

  }
}

/* Medium devices (tablets, 600px - 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .product-card img {
    width: 80%;
    height: auto;
  }
}

/* Large devices (desktops, more than 1024px) */
@media (min-width: 1025px) {}